.pontuacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    padding: 20px;
}

.pontuacao h1{
    font-size: 40pt;
}

.pontuacao h2{
    font-size: 30pt;
}

.pontuacao .gol{
    font-size: 20pt;
    color: red;
    border-radius: 10px;
    padding: 15px;
}